* {
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
#header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(37, 37, 37);
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 0;
}

#header-img {
    display: flex;
}

#header-img > * {
    margin: 0;
    padding: 20px 0 20px 18px;
    color: rgb(255, 238, 217);
    font-size: 42px;
}

#nav-bar {
    display: flex;
    align-items: center;
}

#nav-bar ul {
    display: flex;
    margin: 0;
    list-style-type: none;
    padding-right: 20px;
}

#nav-bar ul li {
    padding-right: 22px;
}

a {
    text-decoration: none;
    color: rgb(255, 238, 217);
}

/* Main */
#main {
    margin-top: 100px;
}